body {
  margin: 0 !important;
  padding: 0;
  overflow-x: hidden;
  font-style: normal;
  overscroll-behavior-y: none;
}
html,
body {
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: #363644;
  border-radius: 2px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #535365;
  border-radius: 2px;
  cursor: default !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #84849a;
}

::selection {
  background: #1f7523;
}
